@tailwind base;
@tailwind components;
@tailwind utilities;







/* Scrollbar Style */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #797979;
}

::-webkit-scrollbar-thumb {
  background: #cdcdcd;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #c1c1c1;
}

/* Mobile */
@media (max-width: 375px) {
  /* width */
  ::-webkit-scrollbar {
    width: 0px;
  }
}