@tailwind base;
@tailwind components;
@tailwind utilities;





/* Hide the number input arrows (spinners) */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  /* Firefox */
  -moz-appearance: textfield;
}

input {
  caret-color: rgb(80, 160, 155);
}

/* Scrollbar Style */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #797979;
}

::-webkit-scrollbar-thumb {
  background: #cdcdcd;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #c1c1c1;
}

/* Mobile */
@media (max-width: 375px) {
  /* width */
  ::-webkit-scrollbar {
    width: 0px;
  }
}